/* Stili generali */
body {
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #FF6347;
    padding: 20px;
}

h1 {
    color: white;
}

/* Slideshow */
.mySlides {
    display: none;
}

.slideshow-container {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Puzzle Section */
.puzzle {
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #FF6347;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
